.move-in {
    animation: moveIn 0.5s forwards;
}

@keyframes moveIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

