/* Existing styles */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* set position of header to relative */
}

#mini_logos {
    position: absolute; /* set position of mini logos to absolute */
    top: 60%; /* position mini logos just below the header */
    left: 0; /* align mini logos to the left */
    right: 0; /* align mini logos to the right */
    display: none; /* hide the mini logos initially */
    justify-content: center;
    align-items: center; /* add this line to center the logo vertically */
    margin-top: 0px;
}

#mini_logos img {
    width: 50px; /* adjust as needed */
    height: 50px; /* adjust as needed */
    margin-right: 50px; /* This adds 50px of space to the right of each image */
}

#mini_logos img:hover {
    animation: pop 0.5s forwards;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Add this media query for phone screens */
@media (max-width: 600px) {
    #mini_logos {
        display: flex; /* Make mini logos visible on small screens */
        position: absolute; /* Adjust position for better responsiveness */
        margin: 20px auto; /* Center the logos horizontally and add some vertical space */
        flex-wrap: wrap; /* Allow logos to wrap if there's not enough space */
        display: none; /* Hide the mini logos initially */
        top: 60%; /* position mini logos just below the header */
    }

    #mini_logos img {
        width: 40px; /* Adjust width for small screens */
        height: 40px; /* Adjust height for small screens */
        margin-right: 40px; /* Reduce space to the right of each image */
        margin-bottom: 20px; /* Add some space below each logo for when they wrap */
    }
}