#myImage {
    border-radius: 50%;
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    object-fit: cover;
    margin-left: 50px; /* Default margin, overridden in media query */
    cursor: pointer;
    position: absolute;
    bottom: 150px; /* Anchor at the bottom of the container */
    right: 0; /* Anchor at the right of the container */
    left: 0; /* Center horizontally */
    margin: 0 auto; /* Center horizontally */
    transition: transform 0.5s ease; /* Smooth transition for zooming */
}

@media (max-width: 600px) {
    #myImage {
        position: absolute;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: block;
        animation: popAnimation 0.5s ease-out forwards; /* Apply the animation */
        animation-iteration-count: 2;
        bottom: 200px;
    }

    @keyframes popAnimation {
        0% {
            transform: scale(1); /* Start at normal size */
        }
        50% {
            transform: scale(1.2); /* Scale up to 110% */
        }
        100% {
            transform: scale(1); /* Return to normal size */
        }
    }
}

#myImage:hover {
    transform: scale(2.0); /* Scale up to 120% when hovered */
}

@keyframes popAnimation {
    0% {
        transform: scale(1); /* Start at normal size */
    }
    50% {
        transform: scale(1.1); /* Scale up to 110% */
    }
    100% {
        transform: scale(1); /* Return to normal size */
    }
}

