html, body {
    height: 100%;
    margin: 0;
}

body { /* This is the body selector */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 60px; /* Adjust padding as needed */
}

body { /* This is the font */
    font-family: 'Open Sans', sans-serif; /* Example font */
    font-size: 16px; /* Base font size */
    color: #333; /* Default text color */
}

.about_me_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Adjustments for mobile */
@media (max-width: 600px) {
    body {
        padding-left: 0; /* Reset padding for mobile */
        padding-top: 100px;
    }
}