.column {
    width: 100%; /* Full width of the container */
    max-width: 960px; /* Maximum width the column can stretch to */
    display: block; /* Ensures the content within each column is displayed in block layout */
    border: 2px solid #585858;
    margin: 1000px auto; /* Increased top margin for larger gaps and auto margins on the sides to center the column */
    padding: 20px; /* Padding inside the columns */
}

.row {
    display: block; /* Stacks the child .column elements vertically */
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    text-align: center;
}