#navbar {
    background-color: rgb(0, 0, 0); /* Solid background color */
    width: 100px; /* Adjust the width as needed */
    height: 100%; /* Make the navbar full height */
    position: fixed;
    top: 0;
    left: 0; /* Positioned to the left */
    animation: slide-in 1s forwards;
    z-index: 1000; /* Ensures the navbar stays on top */
    display: flex; /* Use flexbox to arrange items vertically */
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Align items to the center vertically */
    align-items: center; /* Center items horizontally */
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
    #navbar {
        width: 60px; /* Reduce width for smaller screens */
        justify-content: start; /* Adjust alignment if necessary */
        padding-top: 20px; /* Add padding to avoid overlap with status bars */
    }

    #navbar_title {
        font-size: 2em; /* Adjust font size for smaller screens */
        padding: 10px 0; /* Adjust padding for better spacing */
    }

    /* Ensure larger touch targets for any buttons or links in the navbar */
    .navbar-item {
        padding: 15px; /* Increase padding for easier touch interaction */
        font-size: 1.2em; /* Adjust font size for readability */
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Navbar theme transition */
#navbar {
    /* Define the transition on the #navbar itself to ensure it applies in both themes */
    transition: background-color 1s ease, color 0.5s ease;
}

body.dark-theme #navbar {
    background-color: #0000005b; /* Slightly lighter shade for the dark theme */
}

body.light-theme #navbar {
    background-color: #fff; /* Light theme background color for the navbar */
    /* No need to repeat the transition property here since it's already defined on #navbar */
}