#navbar_title {
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding: 20px 0; /* Adjust padding as needed */
    text-align: center;
    writing-mode: vertical-rl;
    align-self: center; /* Centers the title in the flex container */
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative; /* Required for pseudo-element positioning */
}

body {
    background-color: #fff; /* Default to light theme background color */
    color: #000; /* Default to light theme text color */
    transition: background-color 1s ease, color 0.5s ease;
}

/* Define your dark-theme and light-theme classes (or however you're toggling themes) */
body.dark-theme {
    background-color: #24292e; /* GitHub dark theme background color */
    color: #fff; /* White text color */
}

body.light-theme {
    background-color: #fff; /* Light theme background color */
    color: #000; /* Black text color */
}

body.dark-theme .about_me_logo {
    filter: none; /* Remove any filters applied to the logo */
}